body {
    background: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 0.9;
}
p {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 20px 0;
    border: none;
    background: hsl(158, 36%, 37%);
    color: white;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.whole-content {
    background: white;
    border-radius: 10px;
    overlow: hidden;
    max-width: 500px;
}
.text-container {
    padding: 20px 30px 25px;
    background: white;
    border-radius: 10px;
}
.item-desc {
    line-height: 1.6;
    font-weight: 500;
    margin-bottom: 20px;
}
.desktop-img {
    display: none;
}
.mobile-img {
    max-inline-size: 100%;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}
/* Price Container */
.price-container {
    display: flex;
    align-items: center;
    margin-top: 0;
    column-gap: 20px;
}
.current-price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 25px;
    font-weight: 700;
}
.slashed-price {
    font-size: 12px;
}

@media (min-width: 1000px){
    .whole-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 800px;
    }
    .desktop-img {
        display: flex;
        max-inline-size: 100%;
        border-radius: 10px 0 0 10px;
        height: 100%;
        object-fit: cover;
    }
    .mobile-img {
        display: none;
    }
    .text-container {
        min-width: 100%;
        border-radius: 0 10px 10px 0;
    }
    
}